#words { height: 26rem }
#unicode-range { display: none }
.u-visible { display: block !important }

#result table { margin: 0 auto }
#result table td { border: none; text-align: center }

#hints-words { 
    margin: 0 auto;
    display: flex; 
    justify-content: center;
    font-size: min(18px, 2vw)
}

#hints-directions { 
    padding-top: 12px;
    margin: 0 auto;
    display: flex; 
    justify-content: center 
}

#hints-words ul { 
    padding-top: 12px;
    columns: 3
}

.ltr-first.u-highlight-on, 
.ltr-mid.u-highlight-on, 
.ltr-last.u-highlight-on, 
.ttb-first.u-highlight-on, 
.ttb-mid.u-highlight-on, 
.ttb-last.u-highlight-on, 
.rtl-first.u-highlight-on, 
.rtl-mid.u-highlight-on, 
.rtl-last.u-highlight-on,
.btt-first.u-highlight-on, 
.btt-mid.u-highlight-on, 
.btt-last.u-highlight-on,
.ne-first.u-highlight-on, 
.ne-mid.u-highlight-on, 
.ne-last.u-highlight-on, 
.nw-first.u-highlight-on, 
.nw-mid.u-highlight-on, 
.nw-last.u-highlight-on, 
.se-first.u-highlight-on, 
.se-mid.u-highlight-on, 
.se-last.u-highlight-on,
.sw-first.u-highlight-on, 
.sw-mid.u-highlight-on, 
.sw-last.u-highlight-on { background-color: gold }

.ltr-first { border-top-left-radius: 50%; border-bottom-left-radius: 50% }
.ltr-last { border-top-right-radius: 50%; border-bottom-right-radius: 50% }
.rtl-first { border-top-right-radius: 50%; border-bottom-right-radius: 50% }
.rtl-last { border-top-left-radius: 50%; border-bottom-left-radius: 50% }
.ttb-first { border-top-left-radius: 50%; border-top-right-radius: 50% }
.ttb-last { border-bottom-left-radius: 50%; border-bottom-right-radius: 50% }
.btt-first { border-bottom-left-radius: 50%; border-bottom-right-radius: 50% }
.btt-last { border-top-left-radius: 50%; border-top-right-radius: 50% }

th:last-child, td:last-child, th:first-child, td:first-child { padding: 12px 15px }

@media print { 
    @page { margin: 0.5in; size: letter }
    #config { display: none }
}
